/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "DroidSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DroidSans.ttf") format("truetype");
}
@font-face {
  font-family: "DroidSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/DroidSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "ACaslonPro";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ACaslonPro-Italic.otf") format("OpenType");
}
@font-face {
  font-family: "ACaslonPro";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ACaslonPro-BoldItalic.otf") format("OpenType");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Futura";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/futura.ttf") format("truetype");
}
@font-face {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FuturaBoldFont.ttf") format("truetype");
}
/* font-5 should be Myriad-Pro */
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  overflow-x: hidden;
}

h1, h2, h3 {
  margin: 0px;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

.menu-modal {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
  overflow-x: hidden;
  transition: 0.5s;
  justify-content: flex-end;
  overflow: hidden;
  display: none;
}
.menu-modal--shown {
  display: flex;
  width: 100%;
  left: 0;
}
.menu-modal__content {
  padding-top: 90px;
  text-align: right;
  padding-right: 50px;
}
@media (min-width: 768px) {
  .menu-modal__content {
    padding-right: 250px;
  }
}
@media only screen and (max-device-width: 900px) and (orientation: landscape) {
  .menu-modal__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    padding-left: 50px;
    align-items: center;
    padding-right: 50px;
  }
}
.menu-modal__content__nav-links-list {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  margin-bottom: 20px;
  padding-left: 0px;
}
@media (min-width: 768px) {
  .menu-modal__content__nav-links-list {
    font-size: 44px;
    line-height: 52px;
  }
}
@media only screen and (max-device-width: 900px) and (orientation: landscape) {
  .menu-modal__content__nav-links-list {
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
  }
}
.menu-modal__content__nav-links-list__item {
  list-style: none;
}
@media only screen and (max-device-width: 900px) and (orientation: landscape) {
  .menu-modal__content__options-container {
    margin-top: 35px;
  }
}
.menu-modal__content__options-container__option {
  color: #149343;
  border-top: 1px dashed grey;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "DroidSans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 3.2px;
}
@media only screen and (max-device-width: 900px) and (orientation: landscape) {
  .menu-modal__content__options-container__option {
    justify-content: flex-start;
  }
}
.menu-modal__content__options-container__option__link {
  color: #149343;
  text-transform: uppercase;
}

.header {
  width: 100%;
  padding: 20px 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .header {
    height: 550px;
  }
}
.header__logo-and-menu-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 0px 50px;
  box-sizing: border-box;
  z-index: 5;
  position: absolute;
  top: 0px;
}
@media (min-width: 768px) {
  .header__logo-and-menu-container {
    top: 50px;
  }
}
.header__logo-and-menu-container__logo {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 70px;
  height: 39px;
}
@media (min-width: 768px) {
  .header__logo-and-menu-container__logo {
    width: 138px;
    height: 77px;
  }
}
.header__logo-and-menu-container__menu-icon {
  width: 77px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  position: relative;
  opacity: 1;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 50px;
}
@media (min-width: 768px) {
  .header__logo-and-menu-container__menu-icon {
    width: 138px;
    height: 77px;
    font-size: 14px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .header__logo-and-menu-container__menu-icon {
    width: 268px;
    height: 154px;
    margin-right: 0px;
    cursor: none;
  }
}
.header__logo-and-menu-container__menu-icon__text {
  color: #fff;
  transition: all 0.6s ease;
  font-family: "Roboto", sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  pointer-events: none;
  margin: auto;
  z-index: 5;
}
@media (min-width: 768px) {
  .header__logo-and-menu-container__menu-icon__text {
    font-size: 14px;
    padding: 10px;
  }
}
.header__logo-and-menu-container__menu-icon__x {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 19px;
  height: 22px;
  position: absolute;
  display: none;
  pointer-events: none;
}
.header__logo-and-menu-container__menu-icon__oval {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  transform: none;
}
@media (min-width: 1200px) {
  .header__logo-and-menu-container__menu-icon__oval {
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
    margin-right: 0px;
  }
}
.header__logo-and-menu-container__menu-icon__oval__svg {
  width: 100%;
  height: 100%;
}
.header__title {
  align-self: center;
  font-family: "Futura", sans-serif;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 4.1px;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 82px;
  }
}

.hover-shrink {
  transition: all 0.6s;
  width: 139px;
  /* height: 77px; */
  line-height: 77px;
  border-radius: 50%;
  text-align: center;
}
.hover-shrink:hover {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.white-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 20px;
}
.white-section__title {
  font-family: "Futura", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3.6px;
  margin-bottom: 40px;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .white-section__title {
    font-size: 72px;
  }
}
.white-section__title--less-margin {
  margin-bottom: 10px;
}
.white-section__ver-todo {
  font-family: "Futura", sans-serif;
  color: #000000;
  font-size: 16px;
  letter-spacing: 1.2px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .white-section__ver-todo {
    font-size: 24px;
  }
}
.white-section__text {
  font-family: "ACaslonPro";
  font-size: 20px;
  font-style: italic;
  color: grey;
  max-width: 887px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .white-section__text {
    font-size: 36px;
  }
}
.white-section__text--more-width {
  max-width: 1107px;
}
.white-section__gallery {
  max-width: 1352px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  grid-row-gap: 10px;
  padding-top: 70px;
}
@media (min-width: 475px) {
  .white-section__gallery {
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    grid-row-gap: 40px;
  }
}
.white-section__gallery__link {
  width: 300px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.white-section__gallery__link:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media (min-width: 475px) {
  .white-section__gallery__link {
    width: 420px;
    height: 280px;
  }
}

.black-section {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 30px;
}
.black-section__title {
  font-family: "Futura", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3.6px;
  margin-bottom: 40px;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .black-section__title {
    font-size: 72px;
  }
}
.black-section__text {
  text-align: left;
  font-family: "DroidSans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  max-width: 1152px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .black-section__text {
    font-size: 24px;
    line-height: 48px;
  }
}
.black-section__text__link--bg1 {
  background-color: #f0401b;
}
.black-section__text__link--bg2 {
  background-color: #498b30;
}
.black-section__text__link--bg3 {
  background-color: #6fcdac;
}

.three-boxes-section {
  display: flex;
  flex-direction: row;
}
.three-boxes-section__box {
  width: 33.33vw;
  height: calc((535 / 1600) * 100vw);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.three-boxes-section__box--nosotros {
  height: calc((417 / 1600) * 100vw);
}

.footer {
  width: 100%;
  max-width: 100vw;
  background-color: white;
  color: white;
  padding: 35px 0px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
@media (min-width: 768px) {
  .footer {
    height: 430px;
  }
}

.footer__navbar {
  width: 100%;
  max-width: 100vw;
  background-color: #1c2223;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  height: auto;
}
@media (min-width: 768px) {
  .footer__navbar {
    min-height: 100px;
  }
}
.footer__navbar__list {
  display: flex;
  padding-inline-start: 0px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer__navbar__list__item {
  list-style: none;
  padding: 0px 20px;
  border: none;
  margin: 5px 0px;
  width: 150px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__navbar__list__item {
    width: auto;
    border-right: 1px solid white;
    border-left: none;
  }
  .footer__navbar__list__item:last-child {
    border-right: none;
  }
}
.footer__navbar__list__item__link {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .footer__navbar__list__item__link {
    font-size: 30px;
  }
}

.footer__info-container {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  height: 100%;
}
@media (min-width: 768px) {
  .footer__info-container {
    flex-direction: row;
    padding: 40px;
  }
}
.footer__info-container__side-section {
  max-width: 300px;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 30px;
  display: flex;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .footer__info-container__side-section {
    margin: 0px auto;
    max-height: 100px;
  }
}
@media (min-width: 992px) {
  .footer__info-container__side-section {
    font-size: 14px;
    max-width: 600px;
  }
}
.footer__info-container__side-section__left {
  padding: 0px 10px;
  text-align: right;
  border-right: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
}
.footer__info-container__side-section__left__btn {
  color: #940f12;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .footer__info-container__side-section__left__btn {
    white-space: nowrap;
  }
}
.footer__info-container__side-section__left__mail {
  color: #940f12;
}
.footer__info-container__side-section__left__phone {
  display: flex;
  margin-bottom: 5px;
}
.footer__info-container__side-section__left__phone__label {
  margin-right: 5px;
}
.footer__info-container__side-section__left__phone__numbers {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
@media (min-width: 992px) {
  .footer__info-container__side-section__left__phone__numbers {
    white-space: nowrap;
  }
}
.footer__info-container__side-section__right {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .footer__info-container__side-section__right span {
    white-space: nowrap;
  }
}
.footer__info-container__logo {
  width: 149px;
  height: 98px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px auto;
}

.nosotros-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding-top: 40px;
  padding-bottom: 50px;
}
.nosotros-section__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.18px;
  margin-bottom: 35px;
  padding: 20px;
  border: 1px solid #060808;
  border-left: none;
  margin-right: auto;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .nosotros-section__title {
    padding: 20px 66px 20px 175px;
    font-size: 60px;
  }
}
.nosotros-section__title--grey-border {
  border: 1px solid grey;
  border-left: none;
}
.nosotros-section__text {
  max-width: 1074px;
  align-self: center;
}
.nosotros-section__text__subtitle {
  padding: 0px 20px 0px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .nosotros-section__text__subtitle {
    font-size: 24px;
  }
}
.nosotros-section__text__subtitle:first-child {
  margin-top: 0px;
}
.nosotros-section__text__p {
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.07px;
  padding: 0px 20px 0px 40px;
  max-width: 1074px;
  align-self: center;
}
@media (min-width: 768px) {
  .nosotros-section__text__p {
    font-size: 24px;
  }
}
.nosotros-section__text__pdf-link {
  background-color: #52a589;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  width: 165px;
  color: black;
  text-align: center;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .nosotros-section__text__pdf-link {
    margin-left: 320px;
    font-size: 24px;
  }
}
.nosotros-section__img-container {
  padding: 30px 40px;
}
.nosotros-section__img-container__img {
  background-image: url("./../../../images/nosotros/nosotros__valores__img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: calc((480 / 1600) * 100vw);
}

.nosotros-section__text--columns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1074px;
}
@media (min-width: 768px) {
  .nosotros-section__text--columns {
    flex-direction: row;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .nosotros-section__text--columns {
    width: 100vw;
  }
}
.nosotros-section__text--columns__column {
  flex: 1;
  text-align: justify;
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05px;
}
.nosotros-section__text--columns__column__profesional {
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .nosotros-section__text--columns__column__profesional {
    overflow-x: hidden !important;
  }
}
@media (min-width: 1200px) {
  .nosotros-section__text--columns__column__profesional {
    white-space: nowrap;
  }
}
.nosotros-section__text--columns__column__profesional__nombre {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.07px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .nosotros-section__text--columns__column__profesional__nombre {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .nosotros-section__text--columns__column__profesional__nombre {
    font-size: 24px;
  }
}
.nosotros-section__text--columns__column__profesional__cargo {
  font-weight: 700;
  letter-spacing: 0.05px;
  font-size: 16px;
  color: gray;
}
@media (min-width: 768px) and (max-width: 991px) {
  .nosotros-section__text--columns__column__profesional__cargo {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .nosotros-section__text--columns__column__profesional__cargo {
    font-size: 18px;
  }
}
.nosotros-section__text--columns__column__profesional__p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05px;
  color: #c8c6c6;
}
@media (min-width: 768px) and (max-width: 991px) {
  .nosotros-section__text--columns__column__profesional__p {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .nosotros-section__text--columns__column__profesional__p {
    font-size: 16px;
  }
}
.nosotros-section__text--columns__column--directorio {
  text-align: left;
}
@media (min-width: 768px) and (max-width: 991px) {
  .nosotros-section__text--columns__column--directorio {
    max-width: 33.33vw;
    padding: 0px 10px;
  }
}
.nosotros-section__text--columns__column__p {
  margin-bottom: 20px;
}
.nosotros-section__text--columns--directorio {
  max-width: 1230px;
}

.nosotros-section__text--list {
  max-width: 1350px;
  padding: 0px 20px;
}
@media (min-width: 992px) {
  .nosotros-section__text--list {
    padding: 0px 50px;
  }
}
.nosotros-section__text--list__item {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  list-style-type: none;
}
@media (min-width: 768px) {
  .nosotros-section__text--list__item {
    font-size: 24px;
  }
}

.mision-y-vision {
  background-color: #f0551b;
}

.valores {
  background-color: black;
  color: white;
}

.disclaimer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
}
.disclaimer__text {
  color: #429389;
  font-family: "Futura", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .disclaimer__text {
    font-size: 36px;
  }
}

.historia-cav {
  background-color: #a2e2ca;
}

.premios {
  background-color: #515252;
  color: white;
}

.curriculum {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 410px;
  justify-content: flex-start;
}

.servicios-section {
  display: flex;
  flex-direction: column-reverse;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 992px) {
  .servicios-section {
    flex-direction: row;
    font-size: 24px;
    padding-bottom: 80px;
  }
}
.servicios-section__img-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
@media (min-width: 992px) {
  .servicios-section__img-container {
    width: 40%;
  }
}
.servicios-section__img-container--grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 4.2fr 1.3fr 4.5fr;
  grid-template-rows: 3.3fr 1.7fr 2fr 3fr;
  height: calc((100vw * 1084) / 730);
}
@media (min-width: 992px) {
  .servicios-section__img-container--grid {
    height: 1084px;
  }
}
.servicios-section__img-container--grid__img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.servicios-section__img-container--grid__img:nth-child(odd) {
  grid-column: 1/3;
}
.servicios-section__img-container--grid__img:nth-child(even) {
  grid-column: 3/4;
}
.servicios-section__img-container--grid__img:nth-child(1) {
  grid-row: 1/3;
}
.servicios-section__img-container--grid__img:nth-child(3) {
  grid-row: 3/4;
}
.servicios-section__img-container--grid__img:nth-child(4) {
  grid-row: 2/4;
}
.servicios-section__img-container--grid__img:nth-child(5) {
  grid-column: 1/2;
  grid-row: 4/5;
}
.servicios-section__img-container--grid__img:nth-child(6) {
  grid-column: 2/4;
}
.servicios-section__img-container__img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: calc((100vw * 500) / 700);
}
@media (min-width: 992px) {
  .servicios-section__img-container__img {
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .servicios-section__img-container__img {
    height: 460px;
  }
}
@media (min-width: 1800px) {
  .servicios-section__img-container__img {
    height: 500px;
  }
}
.servicios-section__text-container {
  width: 100%;
  padding-top: 43px;
}
@media (min-width: 992px) {
  .servicios-section__text-container {
    width: 60%;
  }
}
.servicios-section__text-container--restauracion-y-conservacion {
  padding-left: 20px;
}
@media (min-width: 992px) {
  .servicios-section__text-container--restauracion-y-conservacion {
    padding-left: 40px;
  }
}
.servicios-section__text-container__title {
  margin-bottom: 35px;
  padding: 20px;
  border: 1px solid #060808;
  border-left: none;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 500;
  margin-right: 20px;
}
@media (min-width: 992px) {
  .servicios-section__text-container__title {
    padding: 20px 66px 20px 100px;
    font-size: 48px;
    width: 70%;
    margin-right: auto;
  }
}
.servicios-section__text-container__title--grey-border {
  border: 1px solid grey;
  text-align: right;
  border-right: none;
  margin-right: 0px;
  width: auto;
  white-space: normal;
}
@media (min-width: 1200px) {
  .servicios-section__text-container__title--grey-border {
    white-space: nowrap;
    padding: 20px 100px 20px 90px;
  }
}
.servicios-section__text-container__text {
  font-weight: 500;
  margin-bottom: 20px;
  padding-left: 40px;
}
@media (min-width: 992px) {
  .servicios-section__text-container__text {
    line-height: 36px;
  }
}

.servicios-section__text-container__section {
  margin-bottom: 30px;
  padding-right: 20px;
}
@media (min-width: 992px) {
  .servicios-section__text-container__section {
    padding-right: 30px;
  }
}
.servicios-section__text-container__section--digitalizacion {
  padding-left: 40px;
}
.servicios-section__text-container__section__title {
  font-size: 18px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .servicios-section__text-container__section__title {
    font-size: 24px;
  }
}
.servicios-section__text-container__section__title--digitalizacion {
  color: #b21f24;
  font-size: 36px;
  font-weight: 900;
}
.servicios-section__text-container__section__list {
  padding-left: 20px;
  margin: 0px;
}
@media (min-width: 992px) {
  .servicios-section__text-container__section__list {
    padding-left: 80px;
  }
}
.servicios-section__text-container__section__list__item {
  list-style: none;
  font-weight: 500;
  line-height: 36px;
}
.servicios-section__text-container__section__p {
  padding-left: 20px;
}

.restauracion-y-conservacion {
  background-color: black;
  color: white;
}

@media (min-width: 992px) {
  .digitalizacion {
    flex-direction: row-reverse;
  }
}

.obra-civil {
  background-color: #a2e2ca;
  padding-bottom: 0px;
}

.proyectos-gallery {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.proyectos-gallery__categories-container {
  padding: 0px 40px 0px 40px;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 40px;
  width: 100%;
  z-index: 2;
}
.proyectos-gallery__categories-container__category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.proyectos-gallery__categories-container__category-list__category {
  padding: 10px;
  list-style: none;
  border-right: 1px solid black;
  text-transform: uppercase;
  font-family: "DroidSans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.9px;
  transition: 0.3s;
}
.proyectos-gallery__categories-container__category-list__category:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .proyectos-gallery__categories-container__category-list__category {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
  }
}
.proyectos-gallery__categories-container__category-list__category--active {
  background-color: #76aaab;
}
.proyectos-gallery__grid {
  padding: 0px 10px;
  display: grid;
  grid-gap: 40px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  grid-auto-flow: row dense;
}
@media (min-width: 768px) {
  .proyectos-gallery__grid {
    padding: 0px 40px;
  }
}
.proyectos-gallery__grid__proyecto {
  width: 100%;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .proyectos-gallery__grid__proyecto--width2 {
    grid-column: span 2;
  }
}
@media (min-width: 768px) {
  .proyectos-gallery__grid__proyecto--height2 {
    grid-row: span 2;
  }
}
.proyectos-gallery__grid__proyecto:hover {
  opacity: 0.8;
  cursor: pointer;
}
.proyectos-gallery__grid__proyecto__img {
  width: 100%;
  height: auto;
}

.boletines-gallery {
  padding: 30px 10px 0px 10px;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .boletines-gallery {
    padding: 50px 40px 0px 40px;
  }
}

.boletines-gallery__grid {
  display: grid;
  grid-gap: 40px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 389px);
  justify-items: center;
}
@media (min-width: 992px) {
  .boletines-gallery__grid {
    grid-template-rows: repeat(auto-fill, 493px);
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }
}
.boletines-gallery__grid__img {
  width: 300px;
  height: 389px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 992px) {
  .boletines-gallery__grid__img {
    width: 380px;
    height: 493px;
  }
}

.noticias-container__noticia {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .noticias-container__noticia {
    padding: 20px 40px;
  }
}
.noticias-container__noticia:nth-child(even) {
  background-color: black;
  color: white;
}
.noticias-container__noticia--light-green {
  background-color: #a2e2ca;
}
.noticias-container__noticia__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .noticias-container__noticia__content {
    flex-direction: row;
    width: 100%;
    max-width: 1150px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.noticias-container__noticia__content__img {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .noticias-container__noticia__content__img {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

.noticias-container__noticia__content__description {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
}
@media (min-width: 768px) {
  .noticias-container__noticia__content__description {
    font-size: 24px;
  }
}
.noticias-container__noticia__content__description__title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .noticias-container__noticia__content__description__title {
    font-size: 36px;
  }
}
.noticias-container__noticia__content__description__date {
  color: gray;
}
.noticias-container__noticia__content__description__text {
  margin-bottom: 30px;
}
.noticias-container__noticia__content__description__origin__link {
  color: #ed1e24;
}
.noticias-container__noticia__content__description__more {
  color: #ed1e24;
}

.header--individual {
  background-size: cover;
  background-position-y: 0;
  height: 70vh;
}
@media (min-width: 768px) {
  .header--individual {
    height: 100vh;
  }
}
.header--individual--chico {
  background-position: center;
}

.individual-main {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.individual-main__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "DroidSans", sans-serif;
}
.individual-main__nav__btn {
  background-color: #6fdcad;
  font-family: "DroidSans", sans-serif;
  font-size: 14px;
  border: none;
  box-shadow: none;
  padding: 5px;
}
@media (min-width: 768px) {
  .individual-main__nav__btn {
    font-size: 16px;
  }
}
.individual-main__nav__btn:hover {
  cursor: pointer;
}
.individual-main__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  padding: 40px;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
@media (min-width: 768px) {
  .individual-main__content {
    font-size: 24px;
  }
}
.individual-main__content__title {
  font-family: "DroidSans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .individual-main__content__title {
    font-size: 30px;
  }
}
.individual-main__content__category {
  font-family: "DroidSans", sans-serif;
  color: #c82037;
  margin-bottom: 5px;
}
.individual-main__content__location-and-time {
  font-family: "DroidSans", sans-serif;
  color: gray;
  margin-bottom: 50px;
}
.individual-main__content__text {
  text-align: left;
  margin-bottom: 20px;
}
.individual-main__content__text--bold {
  font-weight: 700;
}
.individual-main__content__tags {
  font-family: "DroidSans", sans-serif;
  color: #c82037;
  margin-top: 20px;
  font-size: 16px;
}
@media (min-width: 768px) {
  .individual-main__content__tags {
    font-size: 18px;
  }
}

.individual-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding-top: 40px;
  padding-bottom: 50px;
}
.individual-section__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.18px;
  margin-bottom: 35px;
  padding: 20px;
  border: 1px solid #060808;
  border-left: none;
  margin-right: auto;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .individual-section__title {
    padding: 20px 66px 20px 175px;
    font-size: 60px;
  }
}
.individual-section__title--grey-border {
  border: 1px solid grey;
  border-left: none;
}
.individual-section__text {
  max-width: 1074px;
  align-self: center;
}
.individual-section__text__subtitle {
  padding: 0px 20px 0px 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-top: 30px;
}
.individual-section__text__subtitle:first-child {
  margin-top: 0px;
}
.individual-section__text__p {
  font-family: "DroidSans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 0px 20px 0px 40px;
  max-width: 1074px;
  align-self: center;
}
@media (min-width: 768px) {
  .individual-section__text__p {
    font-size: 26px;
  }
}
.individual-section__text__p--myriad {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  letter-spacing: 0.09px;
}
@media (min-width: 768px) {
  .individual-section__text__p--myriad {
    font-size: 30px;
  }
}

.individual-section__text--columns {
  column-count: 1;
  max-width: 1074px;
}
@media (min-width: 768px) {
  .individual-section__text--columns {
    column-count: 2;
    column-gap: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .individual-section__text--columns {
    width: 100vw;
  }
}
.individual-section__text__list {
  padding-left: 40px;
  padding-right: 20px;
}
.individual-section__text__list--columns {
  padding-left: 20px;
}
.individual-section__text__list__item {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .individual-section__text__list__item {
    font-size: 24px;
  }
}
.individual-section__text__list__item--columns {
  list-style: none;
  font-size: 16px;
}
@media (min-width: 768px) {
  .individual-section__text__list__item--columns {
    font-size: 20px;
  }
}

.black-bg {
  background-color: black;
  color: white;
}

.green-bg {
  background-color: #a2e1cb;
}

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}
@media (min-width: 768px) {
  .video-section {
    padding: 70px;
  }
}

.video-section__centered-container {
  margin: 0 auto;
  display: inline-block;
  vertical-align: center;
  width: 100%;
}
@media (min-width: 576px) {
  .video-section__centered-container {
    max-width: 940px;
  }
}

.video-section__centered-container__video-wrapper {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.video-section__centered-container__video-wrapper__video {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.related-news {
  background-color: #c50000;
  color: white;
  padding: 10px 20px 15px 20px;
}
@media (min-width: 768px) {
  .related-news {
    padding: 10px 20px 15px 200px;
  }
}
.related-news__text {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  letter-spacing: 0.09px;
}
@media (min-width: 768px) {
  .related-news__text {
    font-size: 30px;
  }
}
.related-news__text__link {
  text-decoration: underline;
}

.edificios__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.edificios__container__img {
  width: 30%;
  margin: 0px 10px;
}

.murales {
  padding: 30px;
}
.murales__img {
  width: 100%;
  max-width: 1330px;
  height: auto;
}

.individual-grid {
  display: grid;
  grid-template-columns: 33.48vw 33.03vw 33.48vw;
  grid-template-rows: 1fr 1fr;
}
.individual-grid--1 {
  height: calc((600 / 1600) * 100vw);
}
.individual-grid--2 {
  height: calc((714 / 1600) * 100vw);
  grid-template-rows: 1fr;
}
.individual-grid--3 {
  height: calc((650 / 1600) * 100vw);
}
.individual-grid--4 {
  height: calc((519 / 1600) * 100vw);
  grid-template-rows: 1fr;
}
.individual-grid--5 {
  height: calc((910 / 1600) * 100vw);
  grid-template-rows: 1fr 1fr 1fr;
}
.individual-grid__img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.individual-grid__img__child {
  width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header--home {
  height: 100vh;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .header--home {
    /* height: 900px; */
  }
}

.header__slider-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slick-list {
  height: 100%;
  width: 100%;
}

.slick-track {
  height: 100%;
  width: 100%;
}

.header__slider {
  width: 100%;
  height: 100%;
  max-width: 100vw;
}
.header__slider__slide {
  height: 100%;
  max-width: 100vw;
  position: relative;
}
.header__slider__slide__img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.header__slider__slide__text-container {
  position: absolute;
  top: 50%;
  display: flex;
  overflow: hidden;
  right: 0;
}
.header__slider__slide__text-container__text {
  border: 1px solid #ffffff;
  border-right: none;
  padding: 20px 40px 20px 20px;
  color: white;
  font-family: "DroidSans", sans-serif;
  font-size: 19px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .header__slider__slide__text-container__text {
    font-size: 27px;
  }
}

.slick-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 20px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.slick-dots li {
  margin: 0 0.25rem;
}
.slick-dots button {
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: grey;
  text-indent: -9999px;
}
.slick-dots li.slick-active button {
  background-color: white;
}

.building-img-section {
  padding: 70px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.building-img-section__building-img {
  width: 100%;
  height: calc((218 / 1600) * 100vw);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px 15px;
}

/*# sourceMappingURL=app.css.map */
