$breakpoints: (
  xs: 475px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1800px
);

@mixin media-breakpoint-down($bp) {
  @media (max-width: (map-get($breakpoints, $bp) - 1)) {
    @content;
  }
}
@mixin media-breakpoint-up($bp) {
  @media (min-width: map-get($breakpoints, $bp)) {
    @content;
  }
}
@mixin media-breakpoint-between($min, $max) {
  @media (min-width: map-get($breakpoints, $min)) and (max-width: (map-get($breakpoints, $max) - 1)) {
    @content;
  }
}

$baseFontsSrc: "../fonts/";
@mixin fonts($fonts) {
  @each $fontName, $variants in $fonts {
    @each $variant in $variants {
      @font-face {
        font-family: $fontName;
        font-style: map-get($variant, font-style);
        font-weight: map-get($variant, font-weight);
        src: url($baseFontsSrc+map-get($variant, src))
          format(map-get($variant, format));
      }
    }
  }
}


$fonts: (
  "DroidSans":
  (
    (
      font-style: normal,
      font-weight: 400,
      src: "DroidSans.ttf",
      format: 'truetype'
    ),
    (
      font-style: normal,
      font-weight: 700,
      src: "DroidSans-Bold.ttf",
      format: 'truetype'
    )
  ),
  "ACaslonPro":
  (
    (
      font-style: italic,
      font-weight: 400,
      src: "ACaslonPro-Italic.otf",
      format: 'OpenType'
    ),
    (
      font-style: italic,
      font-weight: 700,
      src: "ACaslonPro-BoldItalic.otf",
      format: 'OpenType'
    )
  ),
  "Roboto":
  (
    (
      font-style: normal,
      font-weight: 400,
      src: "Roboto-Regular.ttf",
      format: 'truetype'
    ),
    (
      font-style: normal,
      font-weight: 700,
      src: "Roboto-Bold.ttf",
      format: 'truetype'
    ),
    (
      font-style: normal,
      font-weight: 500,
      src: "Roboto-Medium.ttf",
      format: 'truetype'
    ),
    (
      font-style: normal,
      font-weight: 900,
      src: "Roboto-Black.ttf",
      format: 'truetype'
    )
  ),
  "Futura":
  (
    (
      font-style: normal,
      font-weight: 400,
      src: "futura.ttf",
      format: 'truetype'
    ),
    (
      font-style: normal,
      font-weight: 700,
      src: "FuturaBoldFont.ttf",
      format: 'truetype'
    )
  )
);

@include fonts($fonts);

$font-1: "DroidSans", sans-serif;
$font-2: "ACaslonPro";
$font-3: "Roboto", sans-serif;
$font-4: "Futura", sans-serif;
$font-5: "Roboto", sans-serif;

/* font-5 should be Myriad-Pro */
