.boletines-gallery {
  padding: 30px 10px 0px 10px;
  margin-bottom: 0px;
  
  @include media-breakpoint-up(md) {
    padding: 50px 40px 0px 40px;
  }
}

.boletines-gallery__grid {
  display: grid;
  grid-gap: 40px;
  width: 100%;
  grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
  grid-template-rows: repeat(auto-fill, 389px);
  justify-items: center;

  @include media-breakpoint-up(lg) {
    grid-template-rows: repeat(auto-fill, 493px);
    grid-template-columns: repeat( auto-fill, minmax(380px, 1fr) );
  }

  &__img {
    width: 300px;
    height: 389px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include media-breakpoint-up(lg) {
      width: 380px;
      height: 493px;
    }
    
  }
}