.header--home {
  height: 100vh;
  background-size: cover;
  background-position: center;

  @include media-breakpoint-up(md) {
    /* height: 900px; */
  }
}

.header__slider-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slick-list {
  height: 100%;
  width: 100%;
}

.slick-track {
  height: 100%;
  width: 100%;
}

.header__slider {
  width: 100%;
  height: 100%;
  max-width: 100vw;

  &__slide {
    height: 100%;
    max-width: 100vw;
    position: relative;

    &__img {
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    &__text-container {
      position: absolute;
      top: 50%;
      display: flex;
      overflow: hidden;
      right: 0;

      &__text {
        border: 1px solid #ffffff;
        border-right: none;
        padding: 20px 40px 20px 20px;
        color: white;
        font-family: $font-1;
        font-size: 19px;
        font-weight: 700;
    
        @include media-breakpoint-up(md) {
          font-size: 27px;
        }
      }
    }
  }
}

.slick-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 20px;
	display: flex;
	justify-content: center;
	
	margin: 0;
	padding: 1rem 0;
	
	list-style-type: none;
	
  li {
    margin: 0 0.25rem;
  }

  button {
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    padding: 0;
    
    border: none;
    border-radius: 100%;
    background-color: grey;
    
    text-indent: -9999px;
  }

  li.slick-active button {
    background-color: white;
  }
}

.building-img-section {
  padding: 70px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__building-img {
    width: 100%;
    height: calc((218 / 1600) * 100vw);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px 15px;
  }
}