.header--individual {
  background-size: cover;
  background-position-y: 0;
  height: 70vh;

  @include media-breakpoint-up(md){
    height: 100vh;
  }

  &--chico {
    background-position: center;
  }
}

.individual-main {
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: $font-1;

    &__btn {
      background-color: #6fdcad;
      font-family: $font-1;
      font-size: 14px;
      border: none;
      box-shadow: none;
      padding: 5px;

      @include media-breakpoint-up(md){
        font-size: 16px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
    padding: 40px;
    margin-bottom: 40px;
    font-family: $font-3;
    font-size: 18px;

    @include media-breakpoint-up(md){
      font-size: 24px;
    }

    &__title {
      font-family: $font-1;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 5px;

      @include media-breakpoint-up(md){
        font-size: 30px;
      }
    }

    &__category {
      font-family: $font-1;
      color: #c82037;
      margin-bottom: 5px;
    }

    &__location-and-time {
      font-family: $font-1;
      color: gray;
      margin-bottom: 50px;
    }

    &__text {
      text-align: left;
      margin-bottom: 20px;

      &--bold {
        font-weight: 700;
      }
    }

    &__tags {
      font-family: $font-1;
      color: #c82037;
      margin-top: 20px;
      font-size: 16px;

      @include media-breakpoint-up(md){
        font-size: 18px; 
      }
    }
  }
}

.individual-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $font-3;
  padding-top: 40px;
  padding-bottom: 50px;

  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.18px;
    margin-bottom: 35px;
    padding: 20px;
    border: 1px solid #060808;
    border-left: none;
    margin-right: auto;
    white-space: nowrap;

    @include media-breakpoint-up(md) {
      padding: 20px 66px 20px 175px;
      font-size: 60px;
    }

    &--grey-border {
      border: 1px solid grey;
      border-left: none;
    }
  }

  &__text {
    max-width: 1074px;
    align-self: center;

    &__subtitle {
      padding: 0px 20px 0px 20px;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      margin-top: 30px;

      &:first-child {
        margin-top: 0px;
      }
    }

    &__p {
      font-family: $font-1;
      font-size: 20px;
      font-weight: 400;
      padding: 0px 20px 0px 40px;
      max-width: 1074px;
      align-self: center;

      @include media-breakpoint-up(md){
        font-size: 26px;
      }

      &--myriad {
        font-family: $font-5;
        font-size: 24px;
        letter-spacing: 0.09px;

        @include media-breakpoint-up(md){
         font-size: 30px;
        }
      }
    }
  }
}

.individual-section__text {

  &--columns {
    column-count: 1;
    max-width: 1074px;
  
    @include media-breakpoint-up(md) {
      column-count: 2;
      column-gap: 40px;
    }
  
    @include media-breakpoint-between(md, lg) {
      width: 100vw;
    }
  }
  
  &__list {
    padding-left: 40px;
    padding-right: 20px;

    &--columns {
      padding-left: 20px;
    }

    &__item {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 30px;

      @include media-breakpoint-up(md){
        font-size: 24px;
      }

      &--columns {
        list-style: none;
        font-size: 16px;

        @include media-breakpoint-up(md){
          font-size: 20px;
        }
      }
    }
  }
}

.black-bg {
  background-color: black;
  color: white;
}

.green-bg {
  background-color: #a2e1cb;
}

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;

  @include media-breakpoint-up(md) {
    padding: 70px;
  }
}

.video-section__centered-container {
  margin: 0 auto;
  display: inline-block;
  vertical-align: center;
  width: 100%;

  @include media-breakpoint-up(sm) {
      max-width: 940px;
  }
}

.video-section__centered-container__video-wrapper {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;

  &__video {
      border: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
  }
}

.related-news {
  background-color: #c50000;
  color: white;
  padding: 10px 20px 15px 20px;

  @include media-breakpoint-up(md) {
    padding: 10px 20px 15px 200px;
  }

  &__text {
    font-family: $font-3;
    font-size: 24px;
    letter-spacing: 0.09px;

    @include media-breakpoint-up(md) {
      font-size: 30px;
    }

    &__link {
      text-decoration: underline;
    }
  }
}

.edificios {

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;

    &__img {
      width: 30%;
      margin: 0px 10px;
    }
  }
}

.murales {
  padding: 30px;

  &__img {
    width: 100%;
    max-width: 1330px;
    height: auto;
  }
}

.individual-grid {
  display: grid;
  grid-template-columns: 33.48vw 33.03vw 33.48vw;
  grid-template-rows: 1fr 1fr;

  &--1 {
    height: calc((600 / 1600) * 100vw);
  }

  &--2 {
    height: calc((714 / 1600) * 100vw);
    grid-template-rows: 1fr;
  }

  &--3 {
    height: calc((650 / 1600) * 100vw);
  }

  &--4 {
    height: calc((519 / 1600) * 100vw);
    grid-template-rows: 1fr;
  }

  &--5 {
    height: calc((910 / 1600) * 100vw);
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  &__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &__child {
      width: 50%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}