.nosotros-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $font-3;
  padding-top: 40px;
  padding-bottom: 50px;

  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.18px;
    margin-bottom: 35px;
    padding: 20px;
    border: 1px solid #060808;
    border-left: none;
    margin-right: auto;
    white-space: nowrap;

    @include media-breakpoint-up(md) {
      padding: 20px 66px 20px 175px;
      font-size: 60px;
    }

    &--grey-border {
      border: 1px solid grey;
      border-left: none;
    }
  }

  &__text {
    max-width: 1074px;
    align-self: center;

    &__subtitle {
      padding: 0px 20px 0px 20px;
      font-weight: 700;
      font-size: 18px;
      line-height: 36px;
      margin-top: 30px;

      @include media-breakpoint-up(md) {
        font-size: 24px;
      }

      &:first-child {
        margin-top: 0px;
      }
    }

    &__p {
      font-size: 16px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0.07px;
      padding: 0px 20px 0px 40px;
      max-width: 1074px;
      align-self: center;

      @include media-breakpoint-up(md){
        font-size: 24px;
      }
    }

    &__pdf-link {
      background-color: #52a589;
      font-size: 18px;
      font-weight: 500;
      line-height: 36px;
      width: 165px;
      color: black;
      text-align: center;
      margin-left: 20px;

      @include media-breakpoint-up(md) {
        margin-left: 320px;
        font-size: 24px;
      }
    }

  }

  &__img-container {
    padding: 30px 40px;

    &__img {
      background-image: url('./../../../images/nosotros/nosotros__valores__img.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: calc((480 / 1600) * 100vw);
    }
  }
}

.nosotros-section__text--columns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1074px;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  @include media-breakpoint-between(md, lg) {
    width: 100vw;
  }

  &__column {
    flex: 1;
    text-align: justify;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05px;

    &__profesional {
      margin-bottom: 30px;
      @include media-breakpoint-between(md, lg) {
        overflow-x: hidden !important;
      }
      @include media-breakpoint-up(xl) {
        white-space: nowrap;
      }

      &__nombre {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.07px;

        @include media-breakpoint-between(md, lg) {
          font-size: 20px;
        }

        @include media-breakpoint-up(lg){
          font-size: 24px;
        }
      }

      &__cargo {
        font-weight: 700;
        letter-spacing: 0.05px;
        font-size: 16px;
        color: gray;

        @include media-breakpoint-between(md, lg) {
          font-size: 16px;
        }
        @include media-breakpoint-up(lg){
          font-size: 18px;
        }
      }

      &__p {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.05px;
        color: #c8c6c6;

        @include media-breakpoint-between(md, lg){
          font-size: 14px;
        }
        @include media-breakpoint-up(lg){
          font-size: 16px;
        }
      }
    }

    &--directorio {
      text-align: left;

      @include media-breakpoint-between(md, lg) {
        max-width: 33.33vw;
        padding: 0px 10px;
      }
    }

    &__p {
      margin-bottom: 20px;
    }
  }

  &--directorio {
    max-width: 1230px;
  }
}

.nosotros-section__text--list {
  max-width: 1350px;
  padding: 0px 20px;

  @include media-breakpoint-up(lg) {
    padding: 0px 50px;
  }

  &__item {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;

    @include media-breakpoint-up(md){
      font-size: 24px;
    }
  }
}

.mision-y-vision {
  background-color: #f0551b; 
}

.valores {
  background-color: black;
  color: white;
}

.disclaimer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;

  &__text {
    color: #429389;
    font-family: $font-4;
    font-size: 26px;
    font-weight: 700;

    @include media-breakpoint-up(md){
      font-size: 36px;
    }
  }
}

.historia-cav {
  background-color: #a2e2ca;
}

.premios {
  background-color: #515252;
  color: white;
}

.curriculum {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 410px;
  justify-content: flex-start;
}