.noticias-container {

  &__noticia {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up(md) {
      padding: 20px 40px;
    }

    &:nth-child(even) {
      background-color: black;
      color: white;
    }

    &:nth-child(odd) {
    }

    &--light-green {
      background-color: #a2e2ca;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        width: 100%;
        max-width: 1150px;
        justify-content: flex-start;
        align-items: flex-start;
      }

      &__img {
        margin-bottom: 20px;
  
        @include media-breakpoint-up(md) {
          margin-right: 50px;
          margin-bottom: 0px;
        }
      }
    }
  }
}

.noticias-container__noticia__content__description {
  font-family: $font-3;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;

  @include media-breakpoint-up(md) {
    font-size: 24px;
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;

    @include media-breakpoint-up(md) {
      font-size: 36px;
    }
  }

  &__date {
    color: gray;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__origin {

    &__link {
      color: #ed1e24;
    }
  }

  &__more {
    color: #ed1e24;
  }
}