html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  overflow-x: hidden;
}

h1, h2, h3 {
  margin: 0px;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

.menu-modal {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
  overflow-x: hidden;
  transition: 0.5s;
  justify-content: flex-end;
  overflow: hidden;
  display: none;

  &--shown {
    display: flex;
    width: 100%;
    left: 0;
  }

  &__content {
    padding-top: 90px;
    text-align: right;
    padding-right: 50px;

    @include media-breakpoint-up(md) {
      padding-right: 250px;
    }

    @media only screen 
    and (max-device-width : 900px) 
    and (orientation : landscape) {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      width: 100%;
      padding-left: 50px;
      align-items: center;
      padding-right: 50px;
    }

    &__nav-links-list {
      font-family: $font-3;
      font-size: 26px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.96px;
      margin-bottom: 20px;
      padding-left: 0px;

      @include media-breakpoint-up(md) {
        font-size: 44px;
        line-height: 52px;
      }

      @media only screen 
      and (max-device-width : 900px) 
      and (orientation : landscape) {
        font-size: 20px;
        line-height: 24px;
        margin-top: 30px;
      }

      &__item {
        list-style: none;
      }
    }

    &__options-container {

      @media only screen 
      and (max-device-width : 900px) 
      and (orientation : landscape) {
        margin-top: 35px;
      }

      &__option {
        color: #149343;
        border-top: 1px dashed grey;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-family: $font-1;
        font-size: 16px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 3.2px;

        @media only screen 
        and (max-device-width : 900px) 
        and (orientation : landscape) {
          justify-content: flex-start;
        }

        &__link {
          color: #149343;
          text-transform: uppercase;
        }
      }
    }
  }
}

.header {
  width: 100%;
  padding: 20px 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include media-breakpoint-up(md){
    height: 550px;
  }

  &__logo-and-menu-container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 50px;
    box-sizing: border-box;
    z-index: 5;
    position: absolute;
    top: 0px;

    @include media-breakpoint-up(md){
     top: 50px;
    }

    &__logo {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 70px;
      height: 39px;

      @include media-breakpoint-up(md) {
        width: 138px;
        height: 77px;
      }
    }

    &__menu-icon {
      width: 77px;
      height: 40px;
      font-family: $font-3;
      position: relative;
      opacity: 1;
      pointer-events: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 50px;

      @include media-breakpoint-up(md) {
        width: 138px;
        height: 77px;
        font-size: 14px;
        line-height: 26px;
        
      }

      @include media-breakpoint-up(xl) {
        width: 268px;
        height: 154px;
        margin-right: 0px;
        cursor: none;
      }

      &__text {
        color: #fff;
        transition: all .6s ease;
        font-family: $font-3;
        font-size: 9px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        pointer-events: none;
        margin: auto;
        z-index: 5;

        @include media-breakpoint-up(md) {
          font-size: 14px;
          padding: 10px;
        }
      }

      &__x {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 19px;
        height: 22px;
        position: absolute;
        display: none;
        pointer-events: none;
      }

      &__oval {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none; 
        width: 100%;
        height: 100%;
        transform: none;

        @include media-breakpoint-up(xl) {
          width: 50%;
          height: 50%;
          transform: translate(50%, 50%);
          margin-right: 0px;
        }

        &__svg {
          width: 100%;
          height: 100%;
        }
      }
    }  
  }

  &__title {
    align-self: center;
    font-family: $font-4;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 4.1px;

    @include media-breakpoint-up(md) {
      font-size: 82px;
    }
  }
}

.hover-shrink {
  transition: all .6s;
  width: 139px;
  /* height: 77px; */
  line-height: 77px;
  border-radius: 50%;
  text-align: center;

  &:hover {
    -webkit-transform:scale(0);
    -ms-transform:scale(0);
    transform:scale(0);
  }
}

.white-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 20px;

  &__title {
    font-family: $font-4;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3.6px;
    margin-bottom: 40px;
    white-space: nowrap;

    @include media-breakpoint-up(md) {
      font-size: 72px;
    }

    &--less-margin {
      margin-bottom: 10px;
    }
  }

  &__ver-todo {
    font-family: $font-4;
    color: #000000;
    font-size: 16px;
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      font-size: 24px;
    }
  }

  &__text {
    font-family: 'ACaslonPro';
    font-size: 20px;
    font-style: italic;
    color: grey;
    max-width: 887px;
    font-weight: 400;

    @include media-breakpoint-up(md) {
      font-size: 36px;
    }

    &--more-width {
      max-width: 1107px;
    }
  }

  &__gallery {
    max-width: 1352px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    grid-row-gap: 10px;
    padding-top: 70px;

    @include media-breakpoint-up(xs) {
      grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
      grid-row-gap: 40px;
    }

    &__link {
      width: 300px;
      height: 200px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: 0.3s;

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      @include media-breakpoint-up(xs) {
        width: 420px;
        height: 280px;
      }
    }
  }
}

.black-section {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 30px;

  &__title {
    font-family: $font-4;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3.6px;
    margin-bottom: 40px;
    white-space: nowrap;

    @include media-breakpoint-up(md) {
      font-size: 72px;
    }
  }

  &__text {
    text-align: left;
    font-family: $font-1;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    max-width: 1152px;
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      font-size: 24px;
      line-height: 48px;
    }

    &__link {
      &--bg1 { background-color: #f0401b; }
      &--bg2 { background-color: #498b30; }
      &--bg3 { background-color: #6fcdac; }
    }
  }
}

.three-boxes-section {
  display: flex;
  flex-direction: row;

  &__box {
    width: 33.33vw;
    height: calc((535 / 1600) * 100vw);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--nosotros {
      height: calc((417 / 1600) * 100vw);
    }
  }
}

.footer {
  width: 100%;
  max-width: 100vw;
  background-color: white;
  color: white;
  padding: 35px 0px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  @include media-breakpoint-up(md) {
    height: 430px;
  }
}

.footer__navbar {
  width: 100%;
  max-width: 100vw;
  background-color: #1c2223;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  height: auto;

  @include media-breakpoint-up(md) {
    min-height: 100px;
  }

  &__list {
    display: flex;
    padding-inline-start: 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__item {
      list-style: none;
      padding: 0px 20px;
      border: none;
      margin: 5px 0px;
      width: 150px;
      text-align: center;

      @include media-breakpoint-up(md) {
        width: auto;
        border-right: 1px solid white;
        border-left: none;

        &:last-child {
          border-right: none;
        }
      }

      &__link {
        text-decoration: none;
        color: white;
        font-family: $font-3;
        font-size: 16px;
        font-weight: 700;

        @include media-breakpoint-up(md) {
          font-size: 30px;
        }
      }
    }
  }
}

.footer__info-container {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  height: 100%;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    padding: 40px;
  }

  &__side-section {
    max-width: 300px;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 30px;
    display: flex;
    font-family: $font-3;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(md) {
      margin: 0px auto;
      max-height: 100px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 14px;
      max-width: 600px;
    }

    &__left {
      padding: 0px 10px;
      text-align: right;
      border-right: 1px solid #ffffff;
      display: flex;
      flex-direction: column;

      &__btn {
        color: #940f12; 
        margin-bottom: 20px;

        @include media-breakpoint-up(lg) {
          white-space: nowrap;
        }
      }

      &__mail {
        color: #940f12; 
      }

      &__phone {
        display: flex;
        margin-bottom: 5px;

        &__label {
          margin-right: 5px;
        }

        &__numbers {
          display: flex;
          flex-direction: column;
          margin-left: 5px;

          @include media-breakpoint-up(lg) {
            white-space: nowrap;
          }
        }
      }
    }

    &__right {
      padding: 0px 10px;
      display: flex;
      flex-direction: column;

      span {

        @include media-breakpoint-up(lg) {
          white-space: nowrap;
        }
      }
    }
  }

  &__logo {
    width: 149px;
    height: 98px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px auto;
  }
}
