.proyectos-gallery {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;

  &__categories-container {
    padding: 0px 40px 0px 40px;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;
    width: 100%;
    z-index: 2;

    &__category-list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding: 0px;
      margin: 0px;

      &__category {
        padding: 10px;
        list-style: none;
        border-right: 1px solid black;
        text-transform: uppercase;
        font-family: $font-1;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.9px;
        transition: 0.3s;

        &:hover{
          cursor: pointer;
        }

        @include media-breakpoint-up(md) {
          white-space: nowrap;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 0.9px;
        }

        &--active {
          background-color: #76aaab;
        }
      }
    }
  }

  &__grid {
    padding: 0px 10px;
    display: grid;
    grid-gap: 40px;
    width: 100%;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
    justify-items: center;
    align-items: center;
    grid-auto-flow: row dense;

    @include media-breakpoint-up(md) {
      padding: 0px 40px;
    }

    &__proyecto {
      width: 100%;
      transition: 0.3s;

      &--width2 {
  
        @include media-breakpoint-up(md) {
          grid-column: span 2;
        }
      }

      &--height2 {
        
        @include media-breakpoint-up(md) {
          grid-row: span 2;
        }
      }

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      &__img {
        width: 100%;
        height: auto;  
      }
    }
  }
}