.servicios-section {
  display: flex;
  flex-direction: column-reverse;
  font-family: $font-3;
  font-size: 16px;
  font-weight: 400;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    font-size: 24px;
    padding-bottom: 80px;
  }
  
  &__img-container {
    display: flex;
    flex-direction: column;
    width: 100vw;

    @include media-breakpoint-up(lg) {
      width: 40%;
    }

    &--grid {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 4.2fr 1.3fr 4.5fr;
      grid-template-rows: 3.3fr 1.7fr 2fr 3fr;
      height: calc((100vw * 1084) / 730);

      @include media-breakpoint-up(lg) {
        height: 1084px;
      }

      &__img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;

        &:nth-child(odd) {
          grid-column: 1/3;
        }

        &:nth-child(even) {
          grid-column: 3/4;
        }

        &:nth-child(1) {
          grid-row: 1/3;
        }

        &:nth-child(3) {
          grid-row: 3/4;
        }

        &:nth-child(4) {
          grid-row: 2/4;
        }

        &:nth-child(5){
          grid-column: 1/2;
          grid-row: 4/5;
        }

        &:nth-child(6){
          grid-column: 2/4;
        }
      }
    }

    &__img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100vw;
      height: calc((100vw * 500) / 700);

      @include media-breakpoint-up(lg) {
        height: 100%;
        width: 100%;
      }

      @include media-breakpoint-up(xxl) {
        height: 460px;
      }

      @include media-breakpoint-up(xxxl) {
        height: 500px;
      }
    }
  }

  &__text-container {
    width: 100%;
    padding-top: 43px;

    @include media-breakpoint-up(lg) {
      width: 60%;
    }

    &--restauracion-y-conservacion {
      padding-left: 20px;

      @include media-breakpoint-up(lg) {
        padding-left: 40px;
      }
    }

    &__title {
      margin-bottom: 35px;
      padding: 20px;
      border: 1px solid #060808;
      border-left: none;
      white-space: nowrap;
      font-size: 30px;
      font-weight: 500;
      margin-right: 20px;

      @include media-breakpoint-up(lg) {
        padding: 20px 66px 20px 100px;
        font-size: 48px;
        width: 70%;
        margin-right: auto;
      }
  
      &--grey-border {
        border: 1px solid grey;
        text-align: right;
        border-right: none;
        margin-right: 0px;
        width: auto;
        white-space: normal;

        @include media-breakpoint-up(xl) {
          white-space: nowrap;
          padding: 20px 100px 20px 90px;
        }
      }
    }

    &__text {
      font-weight: 500;
      margin-bottom: 20px;
      padding-left: 40px;

      @include media-breakpoint-up(lg) {
        line-height: 36px;
      }
    }
  }
}

.servicios-section__text-container__section {
  margin-bottom: 30px;
  padding-right: 20px;

  @include media-breakpoint-up(lg) {
    padding-right: 30px;
  }

  &--digitalizacion {
    padding-left: 40px;
  }

  &__title {
    font-size: 18px;
    margin-bottom: 10px;

    @include media-breakpoint-up(md) {
      font-size: 24px;
    }

    &--digitalizacion {
      color: #b21f24;
      font-size: 36px;
      font-weight: 900;
    }
  }

  &__list {
    padding-left: 20px;
    margin: 0px;

    @include media-breakpoint-up(lg) {
      padding-left: 80px;
    }

    &__item {
      list-style: none;
      font-weight: 500;
      line-height: 36px;
    }
  }

  &__p {
    padding-left: 20px;
  }
}


.restauracion-y-conservacion {
  background-color: black;
  color: white;
}

.digitalizacion {

  @include media-breakpoint-up(lg) {
    flex-direction: row-reverse;
  }
}

.obra-civil {
  background-color: #a2e2ca;
  padding-bottom: 0px;
}